/*
 * FundCharts test page
 */

/* reset */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #e2e2e2;
}

.g-mt20 {
    margin-top: 2.6667vw;
}

.f-tc {
    text-align: center;
}

/* 标题 */
.u-tit {
    font-size: 16px;
    font-weight: normal;
}

/* 容器 */
.u-part {
    padding: 2.6667vw 0; 
    height: 50vw;
    background-color: #fff;
}